<%= form_with(model: season) do |form| %>
  <% if season.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(season.errors.count, "error") %> prohibited this season from being saved:</h2>

      <ul>
        <% season.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :show_id, 'Show', style: "display: block" %>
    <%= form.collection_select :show_id, Show.all, :id, :title, prompt: true %>
  </div>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.number_field :number %>
  </div>

  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <% @season.images.each_with_index do |image, index| %>
    <div>
      <%= form.hidden_field :images, multiple: true, value: image.blob.signed_id %>
      <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
      <br>
      <%= link_to image %>
      <br>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
