<div id="<%= dom_id season %>">

  <p>
    <strong>Show:</strong>
    <%= season.show_title %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= season.number %>
  </p>

  <p>
    Episode count: <%= season.episodes.count %>
  </p>

  <p>
    <strong>Images:</strong><br>
    <% season.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
      <br>
      <%= link_to image %>
      <br>
    <% end %>
  </p>

  <p>
    <strong>Xmls:</strong><br>
    <%= link_to 'Export XML', export_xml_season_path(@season, format: :xml) %> |
    <%= link_to 'Export YT XML', yt_xml_season_path(@season, format: :xml) %>
  </p>

  <%= turbo_stream_from "zip_bundle_#{@season.id}" %>

  <%= render "zip_bundle_section", season: @season %>

</div>
