<p style="color: green"><%= notice %></p>

<% content_for :title, "Seasons" %>

<h2>Seasons</h2>

<%= form_with(url: '/seasons', method: "get") do |form| %>

    <div>  
      <%= form.label :show_id, "Show" %><br>
      <%= form.collection_select :show_id, Show.all, :id, :title, prompt: true %>
    </div>

    or

    <div>  
      <%= form.label :season_id, "Season" %><br>
      <%= form.collection_select :season_id, Season.all, :id, :season_title, prompt: true %>
    </div>

    <div>
      <%= form.submit 'Search'%>
    </div>

<% end %>

<br>

<%= turbo_frame_tag "search_results" do %>
  <% if @searched_seasons.present? %>
    <h2>Search Results</h2>
    <div>
      <%= render 'select' %>
    </div>
  <% end %>
<% end %>

<%= link_to "New season", new_season_path %>
