<p style="color: green"><%= notice %></p>

<%= render @season %>

<div>
  <%= link_to "Edit this season", edit_season_path(@season) %> |
  <%= link_to "Back to seasons", seasons_path %>
  <br><br>
  <%= button_to "Delete this season", season_path(@season), method: :delete, data: { turbo_confirm: "Are you sure?" }, data: { turbo: false } %>
</div>
