<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :genre_ids, 'Genres', style: "display: block" %>
    <%= form.select :genre_ids, options_for_select(Genre.all.pluck(:name, :id), movie.genres.pluck(:id)), { includes_hidden: false }, multiple: true  %>
  </div>

  <div>
    <%= form.label :actor, 'Actors', style: "display: block" %>
    <%= form.text_field :actors, value: movie.actors.map(&:name).join(",")  %>
  </div>

  <%= form.fields_for :rights do |rights_form| %>

    <div>
      <%= rights_form.label :country_code, style: "display: block" %>
      <%= rights_form.country_select :country_code,  include_blank: "Select a country" %>
    </div>

    <div>
      <%= rights_form.label :start, style: "display: block" %>
      <%= rights_form.datetime_field :start %>
    </div>

    <div>
      <%= rights_form.label :end, style: "display: block" %>
      <%= rights_form.datetime_field :end %>
    </div>

    <div>
      <%= rights_form.checkbox :_destroy %>
    </div>

    </div>
    <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
