<div id="<%= dom_id movie %>">
  <p>
    <h1><%= movie.title %></h1>
  </p>

  <p>
    <strong>Genres:</strong><br>
    <%= movie.genres.map { |genre| genre.name }.join(", ") %>
    <%# movie.genres.each do |genre| %>
      <%#= render genre %>
    <%# end %>
  </p>

  <p>
    <strong>Actors:</strong><br>
    <%= movie.actors.map { |actor| actor.name }.join(", ") %>
  </p>

  <p>
    <strong>Countries:</strong><br>
    <%= movie.countries.map { |country| country.code }.join(", ") %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= movie.start %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= movie.finish %>
  </p>

  <p>
    <strong>Images:</strong>
    <% movie.images.each do |image| %>
      <%= link_to image_tag(image), image %>
    <% end %>
  </p>

  <%= link_to 'Export to XML', export_xml_movie_path(@movie, format: :xml) %>
  

</div>
