<div id="<%= dom_id movie %>">
  <p>
    <h1><%= movie.title %></h1>
  </p>

  <p>
    <strong>Genres:</strong>
    <% movie.genres.each do |genre| %>
      <%= render genre %>
    <% end %>
  </p>

  <p>
    <strong>Actors:</strong>
    <% movie.actors.each do |actor| %>
      <%= render actor %>
    <% end %>
  </p>

  <p>
    <strong>Rights:</strong>

    <% movie.rights.each do |right| %>
      <p>
        <strong>Country:</strong>
        <%= right.country_code %>
      </p>

      <p>
        <strong>Start:</strong>
        <%= right.start %>
      </p>

      <p>
        <strong>End:</strong>
        <%= right.end %>
      </p>
    <% end %> 
  </p>

</div>
