<div id="<%= dom_id movie %>">
  <p>
    <h1><%= movie.title %></h1>
  </p>

  <p>
    <strong>Apple ID:</strong><br>
    <%= movie.generate_apple_id(movie.title) %>
  </p>

  <p>
    <strong>Amazon ID:</strong><br>
      <%= movie.generate_amazon_id(movie.title, movie.amazon_id_override) %>
  </p>
  
  <p>
    <strong>Amazon ID Override:</strong><br>
    <%= movie.amazon_id_override %>
  </p>

  <p>
    <strong>Genres:</strong><br>
    <%= movie.genres.map { |genre| genre.name }.join(", ") %>
    <%# movie.genres.each do |genre| %>
      <%#= render genre %>
    <%# end %>
  </p>

  <p>
    <strong>Actors:</strong><br>
    <%= movie.actors.map { |actor| actor.name }.join(", ") %>
  </p>

  <p>
    <strong>Country(s) of origin:</strong><br>
    <%= movie.countries.map { |country| country.code }.join(", ") %>
  </p>

  <p>
    <strong>Territories:</strong><br>
    <%= movie.territories.map { |territory| territory.code }.join(", ") %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= movie.start %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= movie.finish %>
  </p>

  <p>
    <strong>Images:</strong>
    <% movie.images.each do |image| %>
      <%= image %>
    <% end %>
  </p>

  <%= link_to 'Export XML', export_xml_movie_path(@movie, format: :xml) %> |
  <%= link_to 'Export YT XML', yt_xml_movie_path(@movie, format: :xml) %>

</div>
