<% if @searched_movie.present? %>
    <table>
    <thead>
        <tr>
        <th>Title</th>
        <th>ID</th>
        <th colspan="4"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><%= @searched_movie.title %></td>
            <td><%= @searched_movie.id %></td>
            <td><%= link_to "Show", @searched_movie, data: { turbo: false } %></td>
            <td><%= link_to "Edit", edit_movie_path(@searched_movie), data: { turbo: false } %></td>
            <td>
                <%= form_with model: @searched_movie, method: :delete, data: { turbo: false } do %>
                    <%= submit_tag "Destroy" %>
                <% end %>
            </td>
        </tr>
    </tbody>
    </table>

    <br>

<% else %>
    <div>
      <h4>No movie found, please try again!</h4>
    </div>
<% end %>