<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<p>
  Movie count: <%= @movies.count %>
</p>

<%= form_with(url: '/movies', method: "get") do |form| %>

  <div>

    <div>  
      <%= form.label :movie_id, "Find a movie:" %>
      <%= form.collection_select :movie_id, Movie.all, :id, :title, prompt: true %>
    </div>  

    <div>
      <%= form.submit 'Search'%>
    </div>

  </div>

<% end %>

<br>

<% if @searched_movie.present? %>

  <h2>Search Results</h2>
  <div>
    <%= render 'select' %>
  </div>

<% end %>

<%= link_to "New movie", new_movie_path %>
