<p style="color: green"><%= notice %></p>

<p>
  Welcome <%= Current.user.email_address %>
</p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<!-- <div id="movies">
  <% @movies.each do |movie| %>
    <%#%>= render movie %>
    <p>
      <%#%>= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div> -->

<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= link_to "Show", movie %></td>
        <td><%= link_to "Edit", edit_movie_path(movie) %></td>
        <td><%= link_to "Destroy", movie, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
-->

<%= form_with(url: '/movies', method: "get") do |form| %>

  <div>

    <div>  
      <%= form.label :movie_id, "Find a movie:" %>
      <%= form.collection_select :movie_id, Movie.all, :id, :title, prompt: true %>
    </div>  

    <div>
      <%= form.submit 'Search'%>
    </div>

  </div>

<% end %>

<br>

<% if @searched_movie.present? %>

  <h2>Search Results</h2>
  <div>
    <%= render 'select' %>
  </div>

<% end %>

<%= link_to "New movie", new_movie_path %>
