<div id="<%= dom_id episode %>">
  
  <p>
    <strong>Show:</strong>
    <%= Season.find(episode.season_id).show_title %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= Season.find(episode.season_id).number %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= episode.number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Apple ID:</strong>
    <%= episode.generate_apple_id %>
  </p>

  <p>
    <strong>Amazon ID:</strong>
      <%= episode.generate_amazon_id(episode.amazon_id_override) %>
  </p>

  <p>
    <strong>Actors:</strong>
    <%= episode.actors.map { |actor| actor.name }.join(", ") %>
  </p>

  <p>
    <strong>Country(s) of origin:</strong><br>
    <%= episode.countries.map { |country| country.code }.join(", ") %>
  </p>

  <p>
    <strong>Territories:</strong>
    <%= episode.territories.map { |territory| territory.code }.join(", ") %>
  </p>

  <p>
    <strong>Start:</strong>
    <% if episode.start.present? %>
      <%= episode.start.in_time_zone.strftime("%Y-%m-%d %H:%M:%S %:z") %>
    <% end %>
  </p>

  <p>
    <strong>Finish:</strong>
    <% if episode.finish.present? %>
      <%= episode.finish.in_time_zone.strftime("%Y-%m-%d %H:%M:%S %:z") %>
    <% end %>
  </p>

  <p>
    <strong>Amazon ID Override:</strong>
    <%= episode.amazon_id_override %>
  </p>

  <p>
    <strong>Images:</strong><br>
    <% episode.images.each do |image| %>
      <% if image.filename.to_s.include?("first") then %>
        First:<br>
      <% elsif image.filename.to_s.include?("second") then %>
        Second:<br>
      <% end %>
      <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
      <br>
      <%= link_to image %>
      <br>
    <% end %>
  </p>

  <p>
    <strong>Xmls:</strong><br>
    <%= link_to 'Export XML', export_xml_episode_path(@episode, format: :xml) %> |
    <%= link_to 'Export YT XML', yt_xml_episode_path(@episode, format: :xml) %>
  </p>

  <%= turbo_stream_from "zip_bundle_#{@episode.id}" %>

  <%= render "zip_bundle_section", episode: @episode %>

</div>
