<div id="<%= dom_id episode %>">
  
  <p>
    <strong>Show:</strong>
    <%= Season.find(episode.season_id).show_title %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= Season.find(episode.season_id).number %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= episode.number %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Countries:</strong><br>
    <%= episode.countries.map { |country| country.code }.join(", ") %>
  </p>

  <p>
    <strong>Start:</strong>
    <% if episode.start.present? %>
      <%= episode.start.in_time_zone.strftime("%Y-%m-%d %H:%M:%S %:z") %>
    <% end %>
  </p>

  <p>
    <strong>Finish:</strong>
    <% if episode.finish.present? %>
      <%= episode.finish.in_time_zone.strftime("%Y-%m-%d %H:%M:%S %:z") %>
    <% end %>
  </p>

</div>
