<%= form_with(model: episode) do |form| %>
  <% if episode.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
        <% episode.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :season_id, 'Season', style: "display: block" %>
    <%= form.collection_select :season_id, Season.all, :id, :season_title, prompt: true %>
  </div>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.number_field :number %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :countries, 'Countries', style: "display: block" %>
    <%= form.text_field :countries, value: episode.countries.map(&:code).join(",")  %>
  </div>

  <div>
    <%= form.label :start, style: "display: block" %>
    <%= form.datetime_field :start %>
  </div>

  <div>
    <%= form.label :finish, style: "display: block" %>
    <%= form.datetime_field :finish %>
  </div>

  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <% @episode.images.each_with_index do |image, index| %>
    <div>
      <%= form.hidden_field :images, multiple: true, value: image.blob.signed_id %>
      <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
      <br>
      <%= link_to image %>
      <br>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
