
<% if @searched_episodes.present? %>

    
            <table>
            <thead>
                <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Season</th>
                <th>Episode</th>
                <th colspan="4"></th>
                </tr>
            </thead>

            <tbody>
                <% @searched_episodes.each do |episode| %>
                <tr>
                        <td><%= episode.id %></td>
                        <td><%= episode.title %></td>
                        <td><%= episode.season.number %></td>
                        <td><%= episode.number %></td>

                        <td><%= link_to "Show", episode, data: { turbo: false } %></td>
                        <td><%= link_to "Edit", edit_episode_path(episode), data: { turbo: false } %></td>
                        <td>
                            <%= form_with model: episode, method: :delete, data: { turbo: false } do %>
                                <%= submit_tag "Destroy" %>
                            <% end %>
                        </td>

                </tr>
                <% end %>
            </tbody>
            </table>

            <br>

    
<% end %>
