<div id="<%= dom_id right %>">
  <p>
    <strong>Country:</strong>
    <%= right.country_code %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= right.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= right.end %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= right.movie_id %>
  </p>

</div>
