<p style="color: green"><%= notice %></p>

<%= render @right %>

<div>
  <%= link_to "Edit this right", edit_right_path(@right) %> |
  <%= link_to "Back to rights", rights_path %>

  <%= button_to "Destroy this right", @right, method: :delete %>
</div>
