<%= form_with(model: show) do |form| %>
  <% if show.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
        <% show.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :amazon_id_override, style: "display: block" %>
    <%= form.text_field :amazon_id_override %>
  </div>

  <div>
    <%= form.label :genres, 'Genres', style: "display: block" %>
    <%= form.text_field :genres, value: show.genres.map(&:name).join(",")  %>
  </div>

  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <% @show.images.each_with_index do |image, index| %>
    <div>
      <%= form.hidden_field :images, multiple: true, value: image.blob.signed_id %>
      <% if image.filename.to_s.include?("first") then %>
        First:<br>
      <% elsif image.filename.to_s.include?("second") then %>
        Second:<br>
      <% end %>
      <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
      <br>
      <%= link_to image %>
      <br>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
