
<% if @searched_show.present? %>

            <table>
            <thead>
                <tr>
                <th>ID</th>
                <th>Show</th>
                <th colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                        <td><%= @searched_show.id %></td>
                        <td><%= @searched_show.title %></td>

                        <td><%= link_to "Show", @searched_show, data: { turbo: false } %></td>
                        <td><%= link_to "Edit", edit_show_path(@searched_show), data: { turbo: false } %></td>
                        <td>
                            <%= form_with model: @searched_show, method: :delete, data: { turbo: false } do %>
                                <%= submit_tag "Destroy" %>
                            <% end %>
                        </td>
                </tr>
            
            </tbody>
            </table>

            <br>
    
<% end %>
