<div id="<%= dom_id show %>">
  <p>
    <strong>Title:</strong>
    <%= show.title %>
  </p>

  <p>
    <strong>Apple ID:</strong>
    <%= show.generate_apple_id %>
  </p>

  <p>
    <strong>Amazon ID:</strong>
      <%= show.generate_amazon_id(show.amazon_id_override) %>
  </p>

  <p>
    Season count: <%= show.seasons.count %>
  </p>

  <p>
    <strong>Genres:</strong><br>
    <%= show.genres.map { |genre| genre.name }.join(", ") %>
  </p>

  <p>
    <strong>Amazon ID Override:</strong>
    <%= show.amazon_id_override %>
  </p>

  <p>
    <strong>Images:</strong><br>
    <% show.images.each do |image| %>
      <% if image.filename.to_s.include?("first") then %>
        First:<br>
      <% elsif image.filename.to_s.include?("second") then %>
        Second:<br>
      <% end %>
      <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
      <br>
      <%= link_to image %>
      <br>
    <% end %>
  </p>

  <p>
    <strong>Xmls:</strong><br>
    <%= link_to 'Export XML', export_xml_show_path(@show, format: :xml) %> |
    <%= link_to 'Export YT XML', yt_xml_show_path(@show, format: :xml) %>
  </p>

  <%= turbo_stream_from "zip_bundle_#{@show.id}" %>

  <%= render "zip_bundle_section", show: @show %>

</div>
