<p style="color: green"><%= notice %></p>

<% content_for :title, "Shows" %>

<h2>Shows</h2>


<%= form_with(url: '/shows', method: "get") do |form| %>

    <div>  
      <%= form.label :show_id, "Show" %><br>
      <%= form.collection_select :show_id, Show.all, :id, :title, prompt: true %>
    </div>

    <div>
      <%= form.submit 'Search'%>
    </div>

<% end %>

<br>

<% if @searched_show.present? %>

  <h2>Search Results</h2>
  <div>
      <%= render 'select' %>
  </div>
  
<% end %>

<%= link_to "New show", new_show_path %>
