<p style="color: green"><%= notice %></p>

<%= render @show %>

<div>
  <%= link_to "Edit this show", edit_show_path(@show) %> |
  <%= link_to "Back to shows", shows_path %>
  <br><br>
  <%= button_to "Delete this show", show_path(@show), method: :delete, data: { turbo_confirm: "Are you sure?" }, data: { turbo: false } %>
</div>
