<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Willow" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tiny.css@0/dist/tiny.css">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <header>
  </header>

  <body>
    <nav>
      <div class="nav-left">
        <%= link_to "Home", root_path if authenticated? %>
        <%= link_to "Shows", shows_path if authenticated? %>
        <%= link_to "Seasons", seasons_path if authenticated? %>
        <%= link_to "Episodes", episodes_path if authenticated? %>
        <%= link_to "Movies", movies_path if authenticated? %>
      </div>
      <div class="nav-right">
        <%= button_to "Log out", session_path, method: :delete if authenticated? %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
